/*!
TAT CSS v1.0
*/

/* CONTAINERS */

[class*=tat-r],
[class*=tat-c],
[class*=tat-g],
[class*=tat-n]{ 
    display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;
}

/* Single row/column containers */
.tat-r { 
	-webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap;  
}
.tat-r-r { 
	-webkit-flex-flow: row-reverse nowrap; -ms-flex-flow: row-reverse nowrap; flex-flow: row-reverse nowrap;  
}
.tat-c { 
    -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; 
}
.tat-c-r { 
	-webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap; 
}


/* Multiple rows/columns grids */
.tat-g {
    -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;
    /* alignment horizontal */
	-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
    /* alignment vertical */        
    -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start;  
}
.tat-g-r { 
	-webkit-flex-flow: row-reverse wrap; -ms-flex-flow: row-reverse wrap; flex-flow: row-reverse wrap;  
}
.tat-n { 
    -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap; 
}
.tat-n-r { 
	-webkit-flex-flow: column-reverse wrap; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap; 
}

/* Alignments */
.tat-center {
	-webkit-justify-content: center; -moz-justify-content: center; justify-content: center;
}
.tat-left {
	-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
}
.tat-right {
	-webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end;
}
.tat-hspace {
	-webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between;
}
.tat-heven {
	-webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around;
}
.tat-middle {
	-ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; 
}
.tat-top {
	-ms-flex-align: start; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; 
}
.tat-bottom {
	-ms-flex-align: end; -webkit-box-align: end; -webkit-align-items: flex-end; align-items: flex-end; 
}
.tat-stretch {
	-ms-flex-align: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; 
}
.tat-vspace {
	-webkit-align-content: space-between; -ms-flex-line-pack: space-between; align-content: space-between; 
}

/* Self alignments */

.tat-s-top { 
	-webkit-align-self: flex-start; align-self: flex-start; 
}
.tat-s-bottom { 
	-webkit-align-self: flex-end; align-self: flex-end; 
}
.tat-s-middle {
	-webkit-align-self: center; align-self: center;
}
.tat-s-stretch {
	-webkit-align-self: stretch; align-self: stretch;
}

/* Containers - media queries */

@media screen and (min-width:35.5em){
	.tat-c-sm { 
    	-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; 
	}
	.tat-c-r-sm { 
		-webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap; 
	}
	.tat-r-sm { 
		-webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap;  
	}
	.tat-r-r-sm { 
		-webkit-flex-flow: row-reverse nowrap; -ms-flex-flow: row-reverse nowrap; flex-flow: row-reverse nowrap;  
	}
	.tat-g-sm {
	    -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;  
	}
	.tat-g-r-sm {
	    -webkit-flex-flow: row-reverse wrap; -ms-flex-flow: row-reverse wrap; flex-flow: row-reverse wrap;  
	}
	.tat-n-sm {
	    -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap;  
	}
	.tat-n-r-sm {
	    -webkit-flex-flow: column-reverse wrap; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap;  
	}
	.tat-center-sm {
		-webkit-justify-content: center; -moz-justify-content: center; justify-content: center;
	}
	.tat-left-sm {
		-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
	}
	.tat-right-sm {
		-webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end;
	}
	.tat-hspace-sm {
		-webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between;
	}
	.tat-heven-sm {
		-webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around;
	}
	.tat-middle-sm {
		-ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; 
	}
	.tat-top-sm {
		-ms-flex-align: start; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; 
	}
	.tat-bottom-sm {
		-ms-flex-align: end; -webkit-box-align: end; -webkit-align-items: flex-end; align-items: flex-end; 
	}
	.tat-stretch-sm {
		-ms-flex-align: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; 
	}
	.tat-vspace-sm {
		-webkit-align-content: space-between; -ms-flex-line-pack: space-between; align-content: space-between; 
	}
}
@media screen and (min-width:48em){
	.tat-c-md { 
    	-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; 
	}
	.tat-c-r-md { 
		-webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap; 
	}
	.tat-r-md { 
		-webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap;  
	}
	.tat-r-r-md { 
		-webkit-flex-flow: row-reverse nowrap; -ms-flex-flow: row-reverse nowrap; flex-flow: row-reverse nowrap;  
	}
	.tat-g-md {
	    -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;  
	}
	.tat-g-r-md {
	    -webkit-flex-flow: row-reverse wrap; -ms-flex-flow: row-reverse wrap; flex-flow: row-reverse wrap;  
	}
	.tat-n-md {
	    -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap;  
	}
	.tat-n-r-md {
	    -webkit-flex-flow: column-reverse wrap; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap;  
	}
	.tat-center-md {
		-webkit-justify-content: center; -moz-justify-content: center; justify-content: center;
	}
	.tat-left-md {
		-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
	}
	.tat-right-md {
		-webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end;
	}
	.tat-hspace-md {
		-webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between;
	}
	.tat-heven-md {
		-webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around;
	}
	.tat-middle-md {
		-ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; 
	}
	.tat-top-md {
		-ms-flex-align: start; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; 
	}
	.tat-bottom-md {
		-ms-flex-align: end; -webkit-box-align: end; -webkit-align-items: flex-end; align-items: flex-end; 
	}
	.tat-stretch-md {
		-ms-flex-align: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; 
	}
	.tat-vspace-md {
		-webkit-align-content: space-between; -ms-flex-line-pack: space-between; align-content: space-between; 
	}
}
@media screen and (min-width:64em){
	.tat-c-lg { 
    	-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; 
	}
	.tat-c-r-lg { 
		-webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap; 
	}
	.tat-r-lg { 
		-webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap;  
	}
	.tat-r-r-lg { 
		-webkit-flex-flow: row-reverse nowrap; -ms-flex-flow: row-reverse nowrap; flex-flow: row-reverse nowrap;  
	}
	.tat-g-lg {
	    -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;  
	}
	.tat-g-r-lg {
	    -webkit-flex-flow: row-reverse wrap; -ms-flex-flow: row-reverse wrap; flex-flow: row-reverse wrap;  
	}
	.tat-n-lg {
	    -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap;  
	}
	.tat-n-r-lg {
	    -webkit-flex-flow: column-reverse wrap; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap;  
	}
	.tat-center-lg {
		-webkit-justify-content: center; -moz-justify-content: center; justify-content: center;
	}
	.tat-left-lg {
		-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
	}
	.tat-right-lg {
		-webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end;
	}
	.tat-hspace-lg {
		-webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between;
	}
	.tat-heven-lg {
		-webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around;
	}
	.tat-middle-lg {
		-ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; 
	}
	.tat-top-lg {
		-ms-flex-align: start; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; 
	}
	.tat-bottom-lg {
		-ms-flex-align: end; -webkit-box-align: end; -webkit-align-items: flex-end; align-items: flex-end; 
	}
	.tat-stretch-lg {
		-ms-flex-align: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; 
	}
	.tat-vspace-lg {
		-webkit-align-content: space-between; -ms-flex-line-pack: space-between; align-content: space-between; 
	}
}
@media screen and (min-width:80em){
	.tat-c-xl { 
    	-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; 
	}
	.tat-c-r-xl { 
		-webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap; 
	}
	.tat-r-xl { 
		-webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap;  
	}
	.tat-r-r-xl { 
		-webkit-flex-flow: row-reverse nowrap; -ms-flex-flow: row-reverse nowrap; flex-flow: row-reverse nowrap;  
	}
	.tat-g-xl {
	    -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;  
	}
	.tat-g-r-xl {
	    -webkit-flex-flow: row-reverse wrap; -ms-flex-flow: row-reverse wrap; flex-flow: row-reverse wrap;  
	}
	.tat-n-xl {
	    -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap;  
	}
	.tat-n-r-xl {
	    -webkit-flex-flow: column-reverse wrap; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap;  
	}
	.tat-center-xl {
		-webkit-justify-content: center; -moz-justify-content: center; justify-content: center;
	}
	.tat-left-xl {
		-webkit-justify-content: flex-start; -moz-justify-content: flex-start; justify-content: flex-start;
	}
	.tat-right-xl {
		-webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end;
	}
	.tat-hspace-xl {
		-webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between;
	}
	.tat-heven-xl {
		-webkit-justify-content: space-around; -moz-justify-content: space-around; justify-content: space-around;
	}
	.tat-middle-xl {
		-ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; 
	}
	.tat-top-xl {
		-ms-flex-align: start; -webkit-box-align: start; -webkit-align-items: flex-start; align-items: flex-start; 
	}
	.tat-bottom-xl {
		-ms-flex-align: end; -webkit-box-align: end; -webkit-align-items: flex-end; align-items: flex-end; 
	}
	.tat-stretch-xl {
		-ms-flex-align: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; 
	}
	.tat-vspace-xl {
		-webkit-align-content: space-between; -ms-flex-line-pack: space-between; align-content: space-between; 
	}
}

/* UNITS */

/* Flexible units */

.tat-f-0-1 {
	flex: 0 1 auto;
}

.tat-f-1-0 {
	flex: 1 0 auto;
}

.tat-f-1-1 {
	flex: 1 1 auto;
}

.tat-f-0-0 {
	flex: 0 0 auto;
}

.tat-f-0 {
	flex-grow: 0;
}
.tat-f-1 {
	flex-grow: 1;
}
.tat-f-2 {
	flex-grow: 2;
}
.tat-f-3 {
	flex-grow: 3;
}
.tat-f-4 {
	flex-grow: 4;
}
.tat-f-5 {
	flex-grow: 5;
}

.tat-f--0 {
	flex-shrink: 0;
}
.tat-f--1 {
	flex-shrink: 1;
}
.tat-f--2 {
	flex-shrink: 2;
}
.tat-f--3 {
	flex-shrink: 3;
}
.tat-f--4 {
	flex-shrink: 4;
}
.tat-f--5 {
	flex-shrink: 5;
}


/* Fixed width units */

[class*=tat-u]{ 
	flex-basis: auto;
}

.tat-u-0 { 
	flex-basis: 0; 
	width: 0;
}

.tat-u-a { 
	width: auto;
}

.tat-u-1-24 {
    width: 4.1667%;
}

.tat-u-1-12 {
    width: 8.3333%;
}

.tat-u-1-8 {
    width: 12.5000%;
}

.tat-u-1-7 {
	width: 14.2857%;
}

.tat-u-1-6 {
    width: 16.6667%;
}

.tat-u-1-5 {
    width: 20%;
}

.tat-u-5-24 {
    width: 20.8333%;
}

.tat-u-1-4 {
    width: 25%;
}

.tat-u-7-24 {
    width: 29.1667%;
}

.tat-u-1-3 {
    width: 33.3333%;
}

.tat-u-3-8 {
    width: 37.5000%;
}

.tat-u-2-5 {
    width: 40%;
}

.tat-u-5-12 {
    width: 41.6667%;
}

.tat-u-11-24 {
    width: 45.8333%;
}

.tat-u-1-2 {
    width: 50%;
}

.tat-u-13-24 {
    width: 54.1667%;
}

.tat-u-7-12 {
    width: 58.3333%;
}

.tat-u-3-5 {
    width: 60%;
}

.tat-u-5-8 {
    width: 62.5000%;
}

.tat-u-2-3 {
    width: 66.6667%;
}

.tat-u-17-24 {
    width: 70.8333%;
}

.tat-u-3-4 {
    width: 75%;
}

.tat-u-19-24 {
    width: 79.1667%;
}

.tat-u-4-5 {
    width: 80%;
}

.tat-u-5-6 {
    width: 83.3333%;
}

.tat-u-7-8 {
    width: 87.5000%;
}

.tat-u-11-12 {
    width: 91.6667%;
}

.tat-u-23-24 {
    width: 95.8333%;
}
	
.tat-u-1 {
    width: 100%;
}

@media screen and (min-width:35.5em){
	
	.tat-u-sm-0 { 
		flex-basis: 0; 
		width: 0;
	}
	
	.tat-u-sm-a { 
		width: auto;
	}

	.tat-u-sm-1-24 {
	    width: 4.1667%;
	}
	
	.tat-u-sm-1-12 {
	    width: 8.3333%;
	}
	
	.tat-u-sm-1-8 {
	    width: 12.5000%;
	}
	
	.tat-u-sm-1-7 {
		width: 14.2857%;
	}
	
	.tat-u-sm-1-6 {
	    width: 16.6667%;
	}
	
	.tat-u-sm-1-5 {
	    width: 20%;
	}
	
	.tat-u-sm-5-24 {
	    width: 20.8333%;
	}
	
	.tat-u-sm-1-4 {
	    width: 25%;
	}
	
	.tat-u-sm-7-24 {
	    width: 29.1667%;
	}
	
	.tat-u-sm-1-3 {
	    width: 33.3333%;
	}
	
	.tat-u-sm-3-8 {
	    width: 37.5000%;
	}
	
	.tat-u-sm-2-5 {
	    width: 40%;
	}
	
	.tat-u-sm-5-12 {
	    width: 41.6667%;
	}
	
	.tat-u-sm-11-24 {
	    width: 45.8333%;
	}
	
	.tat-u-sm-1-2 {
	    width: 50%;
	}
	
	.tat-u-sm-13-24 {
	    width: 54.1667%;
	}
	
	.tat-u-sm-7-12 {
	    width: 58.3333%;
	}
	
	.tat-u-sm-3-5 {
	    width: 60%;
	}
	
	.tat-u-sm-5-8 {
	    width: 62.5000%;
	}
	
	.tat-u-sm-2-3 {
	    width: 66.6667%;
	}
	
	.tat-u-sm-17-24 {
	    width: 70.8333%;
	}
	
	.tat-u-sm-3-4 {
	    width: 75%;
	}
	
	.tat-u-sm-19-24 {
	    width: 79.1667%;
	}
	
	.tat-u-sm-4-5 {
	    width: 80%;
	}
	
	.tat-u-sm-5-6 {
	    width: 83.3333%;
	}
	
	.tat-u-sm-7-8 {
	    width: 87.5000%;
	}
	
	.tat-u-sm-11-12 {
	    width: 91.6667%;
	}
	
	.tat-u-sm-23-24 {
	    width: 95.8333%;
	}
	
	.tat-u-sm-1 {
	    width: 100%;
	}
}


@media screen and (min-width:48em){
	
	.tat-u-md-0 { 
		flex-basis: 0; 
		width: 0;
	}
	
	.tat-u-md-a { 
		width: auto;
	}
		
	.tat-u-md-1-24 {
	    width: 4.1667%;
	}
	
	.tat-u-md-1-12 {
	    width: 8.3333%;
	}
	
	.tat-u-md-1-8 {
	    width: 12.5000%;
	}
	
	.tat-u-md-1-7 {
		width: 14.2857%;
	}
	
	.tat-u-md-1-6 {
	    width: 16.6667%;
	}
	
	.tat-u-md-1-5 {
	    width: 20%;
	}
	
	.tat-u-md-5-24 {
	    width: 20.8333%;
	}
	
	.tat-u-md-1-4 {
	    width: 25%;
	}
	
	.tat-u-md-7-24 {
	    width: 29.1667%;
	}
	
	.tat-u-md-1-3 {
	    width: 33.3333%;
	}
	
	.tat-u-md-3-8 {
	    width: 37.5000%;
	}
	
	.tat-u-md-2-5 {
	    width: 40%;
	}
	
	.tat-u-md-5-12 {
	    width: 41.6667%;
	}
	
	.tat-u-md-11-24 {
	    width: 45.8333%;
	}
	
	.tat-u-md-1-2 {
	    width: 50%;
	}
	
	.tat-u-md-13-24 {
	    width: 54.1667%;
	}
	
	.tat-u-md-7-12 {
	    width: 58.3333%;
	}
	
	.tat-u-md-3-5 {
	    width: 60%;
	}
	
	.tat-u-md-5-8 {
	    width: 62.5000%;
	}
	
	.tat-u-md-2-3 {
	    width: 66.6667%;
	}
	
	.tat-u-md-17-24 {
	    width: 70.8333%;
	}
	
	.tat-u-md-3-4 {
	    width: 75%;
	}
	
	.tat-u-md-19-24 {
	    width: 79.1667%;
	}
	
	.tat-u-md-4-5 {
	    width: 80%;
	}
	
	.tat-u-md-5-6 {
	    width: 83.3333%;
	}
	
	.tat-u-md-7-8 {
	    width: 87.5000%;
	}
	
	.tat-u-md-11-12 {
	    width: 91.6667%;
	}
	
	.tat-u-md-23-24 {
	    width: 95.8333%;
	}
	
	.tat-u-md-1 {
	    width: 100%;
	}
}


@media screen and (min-width:64em){
	
	.tat-u-lg-0 { 
		flex-basis: 0; 
		width: 0;
	}
	
	.tat-u-lg-a { 
		width: auto;
	}
	
	.tat-u-lg-1-24 {
	    width: 4.1667%;
	}
	
	.tat-u-lg-1-12 {
	    width: 8.3333%;
	}
	
	.tat-u-lg-1-8 {
	    width: 12.5000%;
	}
	
	.tat-u-lg-1-7 {
		width: 14.2857%;
	}
	
	.tat-u-lg-1-6 {
	    width: 16.6667%;
	}
	
	.tat-u-lg-1-5 {
	    width: 20%;
	}
	
	.tat-u-lg-5-24 {
	    width: 20.8333%;
	}
	
	.tat-u-lg-1-4 {
	    width: 25%;
	}
	
	.tat-u-lg-7-24 {
	    width: 29.1667%;
	}
	
	.tat-u-lg-1-3 {
	    width: 33.3333%;
	}
	
	.tat-u-lg-3-8 {
	    width: 37.5000%;
	}
	
	.tat-u-lg-2-5 {
	    width: 40%;
	}
	
	.tat-u-lg-5-12 {
	    width: 41.6667%;
	}
	
	.tat-u-lg-11-24 {
	    width: 45.8333%;
	}
	
	.tat-u-lg-1-2 {
	    width: 50%;
	}
	
	.tat-u-lg-13-24 {
	    width: 54.1667%;
	}
	
	.tat-u-lg-7-12 {
	    width: 58.3333%;
	}
	
	.tat-u-lg-3-5 {
	    width: 60%;
	}
	
	.tat-u-lg-5-8 {
	    width: 62.5000%;
	}
	
	.tat-u-lg-2-3 {
	    width: 66.6667%;
	}
	
	.tat-u-lg-17-24 {
	    width: 70.8333%;
	}
	
	.tat-u-lg-3-4 {
	    width: 75%;
	}
	
	.tat-u-lg-19-24 {
	    width: 79.1667%;
	}
	
	.tat-u-lg-4-5 {
	    width: 80%;
	}
	
	.tat-u-lg-5-6 {
	    width: 83.3333%;
	}
	
	.tat-u-lg-7-8 {
	    width: 87.5000%;
	}
	
	.tat-u-lg-11-12 {
	    width: 91.6667%;
	}
	
	.tat-u-lg-23-24 {
	    width: 95.8333%;
	}
	
	.tat-u-lg-1 {
	    width: 100%;
	}
}


@media screen and (min-width:80em){
	
	.tat-u-xl-0 { 
		flex-basis: 0; 
		width: 0;
	}
	
	.tat-u-xl-a { 
		width: auto;
	}
		
	.tat-u-xl-1-24 {
	    width: 4.1667%;
	}
	
	.tat-u-xl-1-12 {
	    width: 8.3333%;
	}
	
	.tat-u-xl-1-8 {
	    width: 12.5000%;
	}
	
	.tat-u-xl-1-7 {
		width: 14.2857%;
	}
	
	.tat-u-xl-1-6 {
	    width: 16.6667%;
	}
	
	.tat-u-xl-1-5 {
	    width: 20%;
	}
	
	.tat-u-xl-5-24 {
	    width: 20.8333%;
	}
	
	.tat-u-xl-1-4 {
	    width: 25%;
	}
	
	.tat-u-xl-7-24 {
	    width: 29.1667%;
	}
	
	.tat-u-xl-1-3 {
	    width: 33.3333%;
	}
	
	.tat-u-xl-3-8 {
	    width: 37.5000%;
	}
	
	.tat-u-xl-2-5 {
	    width: 40%;
	}
	
	.tat-u-xl-5-12 {
	    width: 41.6667%;
	}
	
	.tat-u-xl-11-24 {
	    width: 45.8333%;
	}
	
	.tat-u-xl-1-2 {
	    width: 50%;
	}
	
	.tat-u-xl-13-24 {
	    width: 54.1667%;
	}
	
	.tat-u-xl-7-12 {
	    width: 58.3333%;
	}
	
	.tat-u-xl-3-5 {
	    width: 60%;
	}
	
	.tat-u-xl-5-8 {
	    width: 62.5000%;
	}
	
	.tat-u-xl-2-3 {
	    width: 66.6667%;
	}
	
	.tat-u-xl-17-24 {
	    width: 70.8333%;
	}
	
	.tat-u-xl-3-4 {
	    width: 75%;
	}
	
	.tat-u-xl-19-24 {
	    width: 79.1667%;
	}
	
	.tat-u-xl-4-5 {
	    width: 80%;
	}
	
	.tat-u-xl-5-6 {
	    width: 83.3333%;
	}
	
	.tat-u-xl-7-8 {
	    width: 87.5000%;
	}
	
	.tat-u-xl-11-12 {
	    width: 91.6667%;
	}
	
	.tat-u-xl-23-24 {
	    width: 95.8333%;
	}
	
	.tat-u-xl-1 {
	    width: 100%;
	}
}

/* Other */
.tat-fill, 
.tat-img { 
	width: 100%; height: auto; 
}
.tat-contain { 
	max-width: 100%; width: auto; max-height: 100%; height: auto; 
}